{% extends "beer/base.html" %}

{% load static from staticfiles %}
{% load beer_extras %}

{% block content %}

<div class="container">
    <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        <h2>New Batch</h2>
        <div class="form-group {% if new_batch_form.beer.errors %}has-error{% endif %}">
            <label class="control-label" for="beer-input">Beer</label>
            {{ new_batch_form.beer.errors }}
            <select class="form-control" name="{{ new_batch_form.beer.html_name }}" id="beer-input">
                {% for bier in new_batch_form.beer.field.choices %}
                    <option value="{{ bier.0 }}">
                        {{ bier.1 }}
                    </option>
                {% endfor %}
            </select>
        </div>
        {% for pkg_type in new_batch_form.pkgtypes %}
            <div class="form-group {% if pkg_type.1.errors %}has-error{% endif %}">
                <label class="control-label" for="pkg_type-input-{{ pkg_type.0.id }}">
                    {{ pkg_type.0.name }}
                </label>
                    {{ dtype.errors }}
                <input id="pkg_type-input-{{ pkg_type.0.id }}" 
                       name="{{ pkg_type.1.html_name }}"
                       class="form-control" type="number" value="{{ pkg_type.1.value }}" min="0" step="1">
            </div>
        {% endfor %}
        <input type="submit" class="btn btn-primary save-button" value="Save">
    </form>
</div>

{% endblock %}

