{% extends "beer/base.html" %}

{% load static from staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static "beer/stylesheets/scrollspy-sidebar.css" %}">
<link rel="stylesheet" href="{% static "beer/stylesheets/version.css" %}">
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-xs-9">
        <div class="inline-header">
            <span class="h2">Summary</span>
            <a class="btn btn-primary new-btn" role="button"
               href="{% url "newbatch" %}">
               <span class="glyphicon glyphicon-plus"></span>New Batch
            </a>
        </div>
        {% for beer in beers %}
            <div class="panel panel-default" id="{{ beer.beer.name|slugify }}">
                <div class="panel-heading">{{ beer.beer.name }}</div>
                <div class="panel-body">
                    <table class="table">
                        {% for pkg_count in beer.pkg_counts %}
                            <tr>
                                <td>
                                    {{ pkg_count.0 }}
                                </td>
                                <td>
                                    {{ pkg_count.1 }}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>

    <!---Sidebar--->
    <nav class="col-xs-3" id="scrollspy-sidebar">
        <ul class="nav nav-stacked">
            {% for beer in beers %}
            <li>
                <a href="#{{ beer.beer.name|slugify}}">{{ beer.beer.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</div>
</div>
{% endblock %}

{% block post_content %}
<script src="{% static "beer/scripts/scrollspy-sidebar.js" %}"></script>
{% endblock %}
